.lyrics_content::-webkit-scrollbar {
    width: 8px;
}

.lyrics_content::-webkit-scrollbar-track {
    background: #000000;
}

.lyrics_content::-webkit-scrollbar-thumb {
    background: #888;
}

.lyrics_content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.lyrika_div {
}

.lyrics_div {
    top: 0;
    margin-top: 32px;
    right: 4px;
    z-index: 9996;
    position: fixed;
    max-width: 360px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(4px);
    font-size: 16px;
    color: #ffffff;
    overflow-x: hidden;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px 1px,
        rgba(255, 255, 255, 0.5) 0px 0px 4px 1px;
}

.lyrics-header {
    padding: 16px;
    z-index: 9999;
}

.lyrics_content {
    padding: 16px;
    height: 75vh;
    max-height: 85vh;
    overflow-y: auto;
    resize: vertical;
}

.lyrics_open {
    min-height: 96px;
    display: none;
}

.lyrics_closed {
    display: none;
    height: auto;
    margin-top: 40vh;
}
